In [ ]:
import numpy as np
import pandas as pd
import datetime
from sqlalchemy import create_engine
import random
import itertools
from sklearn.cluster import KMeans

In [ ]:
DATABASE_PASSWORD = ''
DATABASE_NAME = ''
engine = create_engine('mysql+mysqlconnector://root:{password}@localhost:3306/{database}'.format(
    password=DATABASE_PASSWORD,
    database=DATABASE_NAME))
connection = engine.connect()
random.seed(200)

In [ ]:
p1_url = '/player/federer/'
p2_url = '/player/murray/'
tournament_id = 'paris-masters'
location='France'
opponent_nationality = 'Great'
opponent_height = 190
opponent_weight = 83
opponent_handedness = 'right'
players = {
    
}
new_date = datetime.datetime(2018,1,1).date()

In [ ]:
player_query = """
SELECT
    Nationality, DOB, Height, Weight, Handedness
FROM
    tennis_players
WHERE
    URL = '{}'
"""
list(connection.execute(player_query.format(p1_url)).fetchall()[0])

In [ ]:
list(connection.execute(player_query.format(player)).fetchall()[0])

In [ ]:
players = {
    player:{
        ['Nationality', 'DOB', 'Height', 'Weight', 'Handedness'][i]:list(connection.execute(player_query.format(player)).fetchall()[0])[i]
        for i in range(len(['Nationality', 'DOB', 'Height', 'Weight', 'Handedness']))

    } for player in players
}

In [ ]:
main_query = """
SELECT
	COUNT(*)
FROM
	(
	SELECT
		*
	FROM
		tennis_match_played
	) AS main_player
LEFT JOIN
	(
    SELECT
		Player_ID AS 'Opponent_ID',Sets_Won AS 'Opponent_Sets_Won', Tournament_ID,Year,Match_ID
	FROM
		tennis_match_played) AS opponent
	ON
		main_player.Tournament_ID = opponent.Tournament_ID
	AND
		main_player.Year = opponent.Year
	AND
		main_player.Match_ID = opponent.Match_ID
	AND
		main_player.Player_ID != opponent.Opponent_ID
LEFT JOIN
	tennis_tournaments
	ON
		main_player.Tournament_ID = tennis_tournaments.Tournament
	AND
		main_player.Year = tennis_tournaments.Year
LEFT JOIN
	tennis_matches
    ON
		main_player.Tournament_ID = tennis_matches.Tournament_ID
	AND
		main_player.Year = YEAR(tennis_matches.Date)
	AND
		main_player.Match_ID = tennis_matches.Match_ID
LEFT JOIN
	tennis_players AS opponent_info
	ON
		opponent.Opponent_ID = opponent_info.URL
WHERE
	DATE(tennis_matches.Date)<DATE({new_date})
AND
	main_player.Player_ID = '{p1_url}'
{filters}
"""

int_output = []
all_results = ''
win_results = ' AND Result=1'
players = [p1_url, p2_url]
for player in players:
	feature_list = [
		'',
		"AND main_player.Tournament_ID='{}'".format(tournament_id),
		"""
		AND
			Surface = (SELECT
			Surface
		FROM
			tennis_tournaments
		WHERE
			Tournament = '{}'
		LIMIT
			1)
		""".format(tournament_id),
		"AND opponent.Opponent_ID = '{}'".format([i for i in players if i != player][0]),
		'AND YEAR(tennis_matches.Date) = 2021',
		"AND tennis_tournaments.Location = '{}'".format(location),
		"AND opponent_info.Nationality = '{}'".format(opponent_nationality)
	]
	for filter, attribute  in list(itertools.product(feature_list,[all_results,win_results])):
		query = main_query.format(p1_url=player,filters=filter+attribute,new_date=new_date)
		print('player:{},\nfilter:{},\nattribute{},\noutput:{}\n\n'.format(player, filter, attribute, connection.execute(query).fetchall()[0][0]))

In [ ]:
main_query = """
SELECT
	*
FROM
	(
	SELECT
		*
	FROM
		tennis_match_played
	) AS main_player
LEFT JOIN
	(
    SELECT
		Player_ID AS 'Opponent_ID',Sets_Won AS 'Opponent_Sets_Won', Tournament_ID,Year,Match_ID
	FROM
		tennis_match_played) AS opponent
	ON
		main_player.Tournament_ID = opponent.Tournament_ID
	AND
		main_player.Year = opponent.Year
	AND
		main_player.Match_ID = opponent.Match_ID
	AND
		main_player.Player_ID != opponent.Opponent_ID
LEFT JOIN
	tennis_tournaments
	ON
		main_player.Tournament_ID = tennis_tournaments.Tournament
	AND
		main_player.Year = tennis_tournaments.Year
LEFT JOIN
	tennis_matches
    ON
		main_player.Tournament_ID = tennis_matches.Tournament_ID
	AND
		main_player.Year = YEAR(tennis_matches.Date)
	AND
		main_player.Match_ID = tennis_matches.Match_ID
LEFT JOIN
	tennis_players AS opponent_info
	ON
		opponent.Opponent_ID = opponent_info.URL
WHERE
	tennis_matches.Date<'{new_date}'
"""
all_matches = pd.read_sql_query(main_query.format(new_date=new_date),con=connection)

In [ ]:
feature_list = [
    '',
    "AND main_player.Tournament_ID='{}'".format(tournament_id),
    """
    AND
        Surface = (SELECT
        Surface
    FROM
        tennis_tournaments
    WHERE
        Tournament = '{}'
    LIMIT
        1)
    """.format(tournament_id),
    "AND opponent.Opponent_ID = '{}'".format([i for i in players if i != player][0]),
    'AND YEAR(tennis_matches.Date) = 2021',
    "AND tennis_tournaments.Location = '{}'".format(location),
    "AND opponent_info.Nationality = '{}'".format(opponent_nationality)
]
outputs1 = {
    'Tournament_ID':tournament_id,
    'Opponent_ID':[i for i in players if i != player][0],
    'Year':new_date.year,
    'Location':location,
    'Nationality':opponent_nationality
}
outputs=[]
for player in players.keys():
    opponent_name = [i for i in players.keys() if i != player][0]
    opponent = players[opponent_name]
    player_matches = all_matches.loc[all_matches['Player_ID']==player]

    outputs.append([len(player_matches.loc[player_matches['Result']==1])/len(player_matches),len(player_matches)])

    temp = player_matches.loc[player_matches['Tournament_ID'].iloc[:,0]==tournament_id]
    outputs.append([len(temp.loc[temp['Result']==1])/len(temp),len(temp)])

    temp = player_matches.loc[player_matches['Opponent_ID']==opponent_name]
    outputs.append([len(temp.loc[temp['Result']==1])/len(temp),len(temp)])

    temp = player_matches.loc[player_matches['Date'].dt.date>(new_date - datetime.timedelta(days=365))]
    outputs.append([len(temp.loc[temp['Result']==1])/len(temp),len(temp)])

    temp = player_matches.loc[player_matches['Location']==location]
    outputs.append([len(temp.loc[temp['Result']==1])/len(temp),len(temp)])

    temp = player_matches.loc[player_matches['Nationality']==opponent['Nationality']]
    outputs.append([len(temp.loc[temp['Result']==1])/len(temp),len(temp)])

    surf = all_matches.loc[(all_matches['Tournament']==tournament_id)&(all_matches['Year'].iloc[:,0]==new_date.year),'Surface'].iloc[0]
    temp = player_matches.loc[player_matches['Surface']==surf]
    outputs.append([len(temp.loc[temp['Result']==1])/len(temp),len(temp)])

    outputs.append([None, None])

In [ ]:
query = """ 
SELECT
	{attribute}
FROM
	tennis_match_played
LEFT JOIN
	tennis_players
    ON
		tennis_match_played.Player_ID = tennis_players.URL
LEFT JOIN
	tennis_matches
    ON
		tennis_match_played.Tournament_ID = tennis_matches.Tournament_ID
	AND
		tennis_match_played.Year = YEAR(tennis_matches.Date)
	AND
		tennis_match_played.Match_ID = tennis_matches.Match_ID		
WHERE
	tennis_matches.Date < '{new_date}'
"""
kmeans_functions = {}
for attribute in ['Height','Weight','DOB']:
	final_query = query.format(attribute=attribute,new_date=new_date)
	out = [i[0] for i in connection.execute(final_query).fetchall()]
	
	if attribute=='DOB':
		vals = [[(new_date - i).days] for i in out]
	else:
		m = np.mean([int(i) for i in out if int(i)>0])
		vals = [[int(i)] if int(i) > 0 else [m] for i in out]
	kmeans = KMeans(random_state=0).fit(vals)
	all_matches[attribute+'_cluster'] = kmeans.labels_
	kmeans_functions[attribute] = kmeans

In [ ]:
player_matches.loc[player_matches['Height_cluster']==kmeans_functions['Height'].predict([[opponent_height]])[0]]